
<div class="AppPageContentContainer"> 

      
 
    <h2> Add Cheque to the Loan Account</h2>

<div  > 

   
  
  <form   class="form-control col-md-12 formContainer"  >

    <div class="formInfo-div"> 
      <strong>Information:  </strong> 

      <ul>
        <li> Field(s) having <span class="formRequiredIcon">*</span> is required. </li>
        <li> If you are not certain what to fill in the any of the below field(s) then, please fill 'TBD'. </li>
      </ul> 
    </div>  
   <br/>
 
        <div class="formControlContainer col-md-12 row" > 
        <div class="formLabel-div  col-md-12 row pdBottom1rem" >  
            <div class="formLabel-div col-md-3">  <label> Account Number  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"   /> 
                </div>
        </div>    
        
        <div class="formLabel-div  col-md-12 row pdBottom1rem">  
            <div class="formLabel-div col-md-3">  <label> Cheque Number  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"   /> 
                </div>
        </div>   
         
        <div class="formLabel-div  col-md-12 row pdBottom1rem">  
            <div class="formLabel-div col-md-3">  <label> Bank Name  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"   /> 
                </div>
        </div> 
         
        <div class="formLabel-div  col-md-12 row pdBottom1rem">  
            <div class="formLabel-div col-md-3">  <label> Beneficiary Name  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"   /> 
                </div>
        </div>  
         
        <div class="formLabel-div  col-md-12 row pdBottom1rem">  
            <div class="formLabel-div col-md-3">  <label> Amount  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"   /> 
                </div>
        </div>

        <div class="formLabel-div  col-md-12 row pdBottom1rem">  
            <div class="formLabel-div col-md-3">  <label> Date   </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="date"   /> 
                </div>
        </div>
        
      </div>
        
        
     
      
      <br/> <br/>
       <div style="text-align: center;"> 
       <button class="btn btn-primary" type="button"  >Submit</button>
       </div>
       <br><br>
  </form> 

</div>
</div>








        
   

