
<div class="AppPageContentContainer"> 

      
 
    <h2>Get Account Details</h2>

<div  > 

  
   
  
  <form   class="form-control col-md-12 formContainer"  >

    
   <br/>
 
        <div class="formControlContainer col-md-12 row" > 
        <div class="formLabel-div  col-md-12 row pdBottom1rem" >  
            <div class="formLabel-div col-md-3">  <label> Enter Account Number  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"    /> 
                </div> 
        </div>   
        <div class="formLabel-div  col-md-12 row pdBottom1rem" >  
            <div class="formLabel-div col-md-3">  <label> Start Date </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="date"    /> 
                </div> 
        </div>  
        <div class="formLabel-div  col-md-12 row pdBottom1rem" >  
            <div class="formLabel-div col-md-3">  <label> End Date </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="date"    /> 
                </div> 
        </div>  

        <div  style="text-align: left;"> 
            <button class="btn btn-primary" type="button"  >Get Report</button>
        </div> 
        <br/>   <br/>
        <br/>
        <br/>
        <h3> Generated Reports will appear here</h3>

        <div class="col-md-12">

            <table border="1" cellspacing="5" width="100%"   >
                <tr> 
                    <th> Employee Account Number</th> 
                    <th> Employee Name</th> 
                    <th> Cheque Number</th> 
                    <th> Date</th> 
                    <th> Paid Amount</th> 
                    <th> Remaining Amount</th>  
                </tr>
                <tr> 
                    <td> XXXXXX</td> 
                    <td> John</td> 
                    <td> xxxxxxx</td> 
                    <td>  xxx</td> 
                    <td> xxx.xx</td> 
                    <td> xxx.xx</td>  
                </tr>
            
            </table>
            <br/>
            <br/>
            <div    style="text-align: center;"> 
                <button class="btn btn-primary" type="button"  >Download Report</button>
            </div> 
        </div>
        
        
         
      </div>
        
        
     
     
  </form> 

</div>
</div>








        
   

