
<div class="AppPageContentContainer"> 

      
 
    <h2>Get Account Details</h2>

<div  > 

   
  
  <form   class="form-control col-md-12 formContainer"  >

    
   <br/>
 
        <div class="formControlContainer col-md-12 row" > 
        <div class="formLabel-div  col-md-12 row pdBottom1rem" >  
            <div class="formLabel-div col-md-3">  <label> Enter Account Number  </label>  </div>  
                <div  class="col-md-5">
                    <input   class="formControl-tb-t"  type="text"    /> 
                </div>
                <div  class="col-md-3" style="text-align: center;"> 
                    <button class="btn btn-primary" type="button"  >Submit</button>
                </div> 
        </div>   


        <div class="col-md-12">

            <table border="1" cellspacing="5" width="100%"   >
                <tr> 
                    <th> Employee Account Number</th> 
                    <th> Employee Name</th> 
                    <th> Designation</th> 
                    <th> Mobile Number</th> 
                    <th> is Active</th> 
                    <th> Availed Loan?</th>  
                </tr>
                <tr> 
                    <td> XXXXXX</td> 
                    <td> John</td> 
                    <td> XYZ</td> 
                    <td> +91-977xxxxxx</td> 
                    <td> Yes</td> 
                    <td> Yes</td>  
                </tr>
            
            </table>
            <br/>
            <br/>
            <div    style="text-align: center;"> 
                <button class="btn btn-primary" type="button"  >Download Details</button>
            </div> 
        </div>
        
        
         
      </div>
        
        
     
     
  </form> 

</div>
</div>








        
   

