<div>
    <!-- Back To Top Button Section -->
    <div class="AppFooterBackToTop">
        <div class="BackToTopDiv">
            <span OnClick="BodyScrollToTop()">
                <i class="bi bi-chevron-compact-up"></i> <br />
                Back to Top
            </span>
        </div>
    </div>

    <!-- App Footer Text Section -->
    <div class="AppFooter">
        <div class="content-width">
            <div class="row">
                <div style="text-align: center"  > 
                 
                   <h1>This is footer</h1> 
                    
                </div>
            </div>
        </div> 
    </div>

    <!-- CopyRight Text Section -->
    <div class="AppFooterCopyRights">
        <span> &copy; ng-demo-app – {{currentYear}} </span>
    </div>
</div>