<!-- Main Image slider Section -->

<section>
    <image-slider sliderFor="HomePageMainSlider"></image-slider>
</section>

<br /><br /><br /><br />

<!-- Result slider Section -->

<!-- <h1 class="ContentHeading textCenter"> Results/ Your Success is Our Success </h1>
<br />

<section class="ResultSection">
    <image-slider sliderFor="HomePageResultSlider"></image-slider>
</section> -->


<!-- Announcement Section -->
 
<section>
    <div class="row col-md-12 pd0">

        <div class="col-md-5 pd0 AnnouncementContainer">
            <h2 class="ContentHeading ulText textCenter"> Announcements </h2>
        </div>
        <div class="col-md-2 pd0"></div>

        <div class="col-md-5 pd0 NewsAndEventContainer">
            <h2 class="ContentHeading ulText textCenter"> News & Events </h2>
        </div>
    </div>

</section>


<!-- About Us Section -->
 
 


 

 
<!-- Query Section -->

<!-- <section>
    <h1 class="ContentHeading"> Query? Please reach out to us </h1>
    <br />
</section> -->